<div class="hero row">
    <div class="col position-relative py-lg-6{{ if not .Site.Params.homepageImage }} py-6{{ else }} pb-5{{ end }}">
        {{- with .Site.Params.homepageImage -}}
        <div class="homepage-image">
            <img src="{{ . | relURL }}" class="img-fluid">
        </div>
        {{- end -}}

        <h1 class="display-4">{{ .Site.Title }}</h1>
        {{- with .Site.Params.description -}}
        <h3 class="font-weight-normal">{{ . | safeHTML }}</h3>
        {{- end -}}
    </div>
</div>